
  * {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
  }
  .all-contents{
    text-align: center;
    background-color: rgb(45, 45, 59);
    /* background-color: #cad8db; */
    padding: 15px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.8);
    border-radius: 17px;
    
  }
  .all-contents-child{
    display: inline-flex;
    align-items: center;
    width: -webkit-fill-available;
    justify-content: space-around;
    
  }
 
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: #88c1f7;
  }
  
  h1 {
    color: rgb(255, 255, 255);
    font-size: x-large;
  }
  
  p {
    text-align: center;
    color: #dedede;
  }
  
  .btn {
    color: rgb(3, 1, 1);
    background: #f29812;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 12px;
    border: 1px solid rgb(0, 0, 0);
  }

  
  .money-img {
    width: 150px;
  }
  
  .currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .currency select {
    padding: 10px 20px 10px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #ffffff;
    font-size: 16px;
    background: rgb(255, 255, 255);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-position: right 10px top 50%, 0, 0;
    background-size: 12px auto, 100%;
    background-repeat: no-repeat;
  }
  
  .currency input {
    border: 0;
    background: rgb(255, 255, 255);
    font-size: 34px;
    text-align: right;
  }
  
  .swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  
  .rate {
    color:#f7ebb2;
    font-weight: 600;
    font-size: 20px;
    padding: 0 10px;
  }
  
  select:focus,
  input:focus,
  button:focus {
    outline: 0;
  }
  /* -------------------------------------------------Media queries-------------------------------------------- */
  /* --------------------------------------------1st edit------------------------------------------------------ */
  @media (max-width: 600px) {
    .currency input {
      width: 200px;
    }
    .all-contents{
      width: 450px;
    }
    .currency {
      padding: 32px 0;
    }
  }
  /* --------------------------------------------------2nd edit------------------------------------------------ */
  @media (max-width: 500px) {
    .all-contents{
      width: 380px;
    }
    .money-img {
      width: 105px;
    }
  }
  /* ----------------------------------------------3rd edit---------------------------------------------------- */
  @media (max-width: 415px){
    .all-contents{
      width: 320px;
    }
    .money-img {
      width: 90px;
    }
    h1 {
      font-size: larger;
    }
    p {
      font-size: small;
    }
    .currency {
      padding: 20px 0;
    }
    .currency select {
      padding: 5px 10px 5px 10px;
      font-size: 14px;
      background-size: 6px auto, 100%;
      background-position: right 7px top 50%, 0, 0;
      border-radius: 5px;
      border: 1px solid black;
    }
    .currency input {
      border: 1px solid black;
      border-radius: 5px;
      font-size: 23px;
    }
    .btn {
      font-size: 15px;
      padding: 4px 10px;
    }
    .rate {
      font-weight: 600;
      font-size: 20px;
    }

  }




